@model myStorefront.Models.Product

<div class="productListing">
    <img src="http://i.imgur.com/0lrbjeT.jpg"; style="height:100px; margin:10px" />
    </br>
    @Model.ProductName
    </br>
    @Model.ProductPrice.ToString("C")
    <div class="buyNow">Buy Now</div>
</div>