@model IEnumerable<myStorefront.Models.Category>
<nav>
    <ul>
        @foreach (var item in Model)
        {
            <li>
                @item.CategoryName

                @if (item.Categories1.Any())
            	{
                    <ul>

                    </ul>
	            }
            </li>
        }
    </ul>
</nav>