@model IEnumerable<myStorefront.Models.Category>
<ul>
    @foreach (var category in Model)
    {
        <li class='has-sub'><a href="@Url.Action("ByCategory", "Shop", new { id = category.CategoryID })"><span>@category.CategoryName</span></a>
            @if (category.SubCategories.Any())
            {
                <li>
                    @Html.Partial("Navigation", category.SubCategories)
                </li>
            }
        </li>
    }
</ul>
